//
// Boilerplate - direct element styles that don't warrant a component file
//

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 489px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-color;
    overflow: hidden;
}

a {
    color: $link-color;

    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}

button {
    cursor: pointer;
}
