//
// Header - main site header
//

#header {
    position: relative;
    margin: 0.5em;

    h1 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5rem;
    }

    .toolbar {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;

        li {
            display: inline-block;
        }

        a, button {
            padding: 0.25em;
        }

        a {
            text-decoration: none;
        }

        button {
            font-size: inherit;
            border: none;
            background-color: transparent;
            color: $link-color;

            &:hover, &:focus {
                color: $link-hover-color;
            }
        }
    }
}
